.doc-link {
    text-decoration: none;
    width: fit-content;
    display: block;
    margin: 20px auto;
}

.doc-link p {
    border: 1px solid grey;
    color: blueviolet;
    border-radius: 2px;
    padding: 10px 20px;
    width: fit-content;
    display: block;
    transition: color .3s ease;
    transition: background-color .3s ease;
}
.doc-link p:hover {
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: #f0f0f0;
}